<ion-header>
  <ion-toolbar>
    <ion-title>
      Crew
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-avatar slot="start">
          <img src="assets/Mal.jpg">
        </ion-avatar>
        <ion-label>Captain Malcom 'Mal' Reynolds</ion-label>
      </ion-item>
      <ion-item>
      <ion-avatar slot="start">
            <img src="assets/Zoe.jpg">
          </ion-avatar>
          <ion-label>Zoe Washburne</ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
              <img src="assets/Wash.jpg">
            </ion-avatar>
            <ion-label>Hoban 'Wash' Washburne</ion-label>
          </ion-item>
          <ion-item>
              <ion-avatar slot="start">
                <img src="assets/Inara.jpg">
              </ion-avatar>
              <ion-label>Inara Serra</ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/Jayne.jpg">
                </ion-avatar>
                <ion-label>Jayne Cobb</ion-label>
              </ion-item>
              <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/Kaylee.jpg">
                  </ion-avatar>
                  <ion-label>Kaylee Frye</ion-label>
                </ion-item>
                <ion-item>
                    <ion-avatar slot="start">
                      <img src="assets/Simon.jpg">
                    </ion-avatar>
                    <ion-label>Dr. Simon Tam</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-avatar slot="start">
                        <img src="assets/River.jpg">
                      </ion-avatar>
                      <ion-label>River Tam</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-avatar slot="start">
                          <img src="assets/Book.jpg">
                        </ion-avatar>
                        <ion-label>Shepherd Derrial Book</ion-label>
                      </ion-item>
</ion-content>
