<ion-header>
  <ion-toolbar>
    <ion-title>
      Firefly
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content overflow-scroll="true">
<ion-card>
    <ion-card-header>
      <img src="assets\Sky2.jpg">
    </ion-card-header>
  
    <ion-card-content>
      <ion-button color="dark">I Aim to Misbehave</ion-button> <ion-button color="dark">Let's be bad guys</ion-button> 
      <ion-button color="dark">Big damn heros, sir</ion-button> <ion-button color="dark">You can't take the sky from me</ion-button> 
      <ion-button color="dark">I'm a leaf on the wind</ion-button> <ion-button color="dark">Shiny!</ion-button>
      <p padding-top="1px;">A treasure gone before it's time. Firefly aired for only one season before being canceled. The seres was followed up by the movie 'Serenity'. It now has a massive cult following, viewers can't get enough of this scifi space western. It has adventure, humor, drama, from the first episode it was a favorite of mine, though I found it long after it aired.</p>
    </ion-card-content>
  </ion-card>
</ion-content>